.tabbed_dialog {
  > .header {
    > button {
      $roundness: 5px;

      flex: 1 0 max-content;
      padding: 5px;

      border: black 1px solid;
      border-radius: $roundness $roundness 0 0;

      background: #CCCCCC;

      &:hover {
        background: #FFFFFF;
      }
    }

    > :not(:last-child) {
      margin-right: -1px;
    }

    > button.selected_tab {
      background: #FFFFFF;

      text-decoration: underline;

      &:hover {
        color: #666666;

        border-color: #666666;
      }
    }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    margin-bottom: -1px;
  }

  > .tab {
    $roundness: 5px;

    border: black 1px solid;
    border-radius: 0 0 $roundness $roundness;
  }

  width: min-content;
}

.cipher_box {
  $box-padding: 10px;

  > .key_container {
    > input {
      &:invalid {
        background: #FFCCCC;
        border-color: #CC0000;
      }

      font-family: monospace;
    }

    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 2em;
  }

  > .action_container {
    > button {
      display: block;
      margin-left: 5px;
      margin-right: 5px;
    }

    display: flex;
    flex-direction: row;
  }

  > textarea {
    width: calc(100% - $box-padding);
    min-width: min-content;

    &.error {
      background: #FFCCCC;
    }
  }

  > * {
    display: block;
  }

  > :not(:last-child) {
    margin-bottom: 10px;
  }

  > :not(:first-child) {
    margin-top: 10px;
  }

  padding: $box-padding;
}
